# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Run files
*.err
*.out

# Tag file
TAGS

# Compiled program
frc

# Guesses and outputs
*.bin
*.dat

# backup files
*~

# Other unwanted files
#quad2d.f90#
Equilibrium_xS0.5.npz
frc_almostok.f90
frc_bak.f90
psielong.npz
quadpack.f90
quadpack_double
quadpack_double_test.f90
quadpack_double_test.txt
quadpack_test
quadpack_test.f90
quadpack_test.txt
readbinpython.f90
